<html>
<head>
</head>

<body>
 <div class="calculate">
	<h1>Calculate average marks</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('calculate')}}" method="post">
    	<input type="text" name="physics" placeholder="Physics" required="required" />
        <input type="text" name="chemistry" placeholder="Chemistry" required="required" />
		<input type="text" name="maths" placeholder="Maths" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Calculate Button</button>
    </form>

   <br>
   <br>
   
 </div>


</body>
</html>